body {
  width:100%;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  color: #333;
  margin:20px;
  padding: 25px;
  border: solid 2px;
  border-radius: 15px;
  align-items: center;
}

.title{
  font-weight: 200PX;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.head{
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  gap: 155px;

}
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


img {
  border-radius: 10px;
}


.TeamMember {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 30px;
}


.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}